a, a:hover, a:active, a:visited {
    color: inherit;
}

#navcol2 {
    text-align: end;
}

#navrow > div > a, #navrow > div > span {
    padding: 0 10px;
}

#indexMainRow {
    height: 100vh;
}

#indexMainRow > div > h1 {
    text-align: center;
}

.titleRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formRow input {
    display: block;
    margin: 2px;
}

.formRow input[type="submit"], .formRow select {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    display: block;
}

.result_card {
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
}

.result_title {
    height: 12vh;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.card_link, .card_link:hover, .card_link:active, .card_link:visited {
    text-decoration: none;
}

.result_card span {
    font-weight: bold;
}

.bookMainRow {
    width: 90%;
    margin: 20px auto;
}

.bookLeftCol, .bookRightCol, .rightColLeft, .rightColRight {
    min-width: 50%;
    padding: 10px;
    min-height: 30vh;
}

.bookLeftCol h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.bookLeftCol p {
    font-family: monospace;
}

.bookLeftCol * {
    padding-bottom: 5px;
}

.rightColLeft, .rightColRight  {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    min-width: 45%; /* overrides a previous min-width:50% */
    min-height: 20vh;
    margin: 0 5px;
}

.rightColLeft h2, .rightColRight h2 {
    font-size: 40px;
    margin-bottom: 40px;
}