a, a:hover, a:active, a:visited {
    color: inherit;
}

#navcol2 {
    text-align: end;
}

#navrow > div > a, #navrow > div > span {
    padding: 0 10px;
}

#indexMainRow {
    height: 100vh;
}

#indexMainRow > div > h1 {
    text-align: center;
}

.titleRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formRow input {
    display: block;
    margin: 2px;
}

.formRow input[type="submit"], .formRow select {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    display: block;
}

.result_card {
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
}

.result_title {
    height: 12vh;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.card_link, .card_link:hover, .card_link:active, .card_link:visited {
    text-decoration: none;
}

.result_card span {
    font-weight: bold;
}