a, a:hover, a:active, a:visited {
    color: inherit;
}

#navcol2 {
    text-align: end;
}

#navrow > div > a {
    padding: 0 10px;
}

#indexMainRow {
    height: 100vh;
}

#indexMainRow > div > h1 {
    text-align: center;
}

#regTitleRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

#regFormRow input {
    display: block;
    margin: 2px;
}

#regFormRow input[type="submit"] {
    width: 50%;
    margin: 10px auto;
}