{% extends "layout.html" %}

{% block title %}{{ book["title"] }}{% endblock%}

{% block body %}

<div class="row bookMainRow">
    <div class="col-2 bookLeftCol">
        <h1>{{ book["title"] }}</h1>
        <h2>{{ book["author"] }}</h2>
        <h3>{{ book["year"] }}</h3>
        <p>ISBN: {{ book["isbn"] }}</p>
    </div>
    <div class="col-2 bookRightCol">
        <div class="row bookRightRow">
            <div class="col-2 rightColLeft">
                <h2>project1 users</h2>
                <p>number of ratings: {% if num_ratings[0] is none %} 0 {% else %} {{ "{:,}".format(num_ratings[0]) }} {% endif %}</p>
                <p>average rating: {% if avg_rating[0] is none %} 0 {% else %} {{ "{:.03}".format(avg_rating[0]) }} {% endif %}</p>
            </div>
            <div class="col-2 rightColRight">
                <h2>Goodreads users</h2>
                <p>number of ratings: {{ "{:,}".format(gr_book["work_ratings_count"]) }}</p>
                <p>average rating: {{ gr_book["average_rating"] }}</p>
            </div>
        </div> 
    </div>
</div>

<div class="reviewRow" {% if past == True %}style="display:none;"{% endif %}>
    <form action="{{ url_for('book', isbn = book['isbn']) }}" method="POST">
        <select name="rating" required>
            <option hidden disabled selected value>-- select your rating --</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
        </select>
        <br>
        <textarea name="review" placeholder="what did you think of {{ book['title'] }}?"></textarea>
        <br>
        <input type="submit" value="Submit!">
    </form>
</div>

{% for review in reviews %}
<div class="review_card">
    <p>user: <span class="userSpan">{{ review["username"] }}</span></p>
    <p>rating: <span class="ratingSpan">{{ review["rating"] }}</span></p>
    <p>time: <span class="timeSpan">{{ review["time"] }}</span></p>
    <p class="reviewText">{{ review["review"] }}</p>
</div>
{% endfor %}


{% endblock %}